<label class="block mt-4">
    <span class="text-gray-700">Vul het kenteken van uw [auto/motor/brommer] in.</span>

    <input type="text" id="myInput" placeholder="Enter text" class="mt-1 block w-full rounded-md bg-yellow-400 border-red-400 focus:border-gray-500 focus:bg-yellow-300 focus:ring-0" placeholder="Bijvoorbeeld AA-BB-12" />
    
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2 hidden" role="alert">
        <div class="font-bold">Oeps, het ingevoerde kenteken is niet geldig.</div>
        <div class="block sm:inline">Gebruik het volgende formaat AA-12-BB.</div>
    </div>   
</label>
<div class="mt-4">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" (click)="verifyLicensePlate()">
        Verzenden
    </button>
    <div class="text-red-700 hidden">Vul alle waardes correct in.</div>
</div>
